*{
    font-family: sans-serif;
}
#hero{
    width:100%;
    height:100vh;
    background-image: url(img1.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
}
.container{
    padding: 5px;
    width:50%;
    height:100%;
    position:absolute;
    /* right:0; */
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(148, 216, 248, 0.452),rgba(0, 0, 100, 0.548)); */
    /* backdrop-filter: blur(3px); */
}
.card{
    width:350px;
    height:500px;
    /* box-shadow:0 0 50px 30px rgba(23, 2, 61, 0.315); */
    /* backdrop-filter: blur(3px); */

}
.innerbox{
    position:relative;
    width: 100%;
    height:100%;
    
}
.cardfront{
    position:absolute;
    width: 100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(84, 86, 88, 0.294),rgba(0, 0, 100, 0.548));
    /* backdrop-filter: blur(3px); */
    padding:55px;
    box-sizing: border-box;
    /* backface-visibility: hidden; */
}
.card h2{
    font-weight:bolder;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color:white;
}
.inputbox{
    width: 100%;
    background:transparent;
    border:1px solid #fff;
    margin:6px 0;
    height:32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color:#fff;
}
::placeholder{
    color:#fff;
    font-size: 5px;
}
.subbtn{
    width:100%;
    background: transparent;
    border:1px solid #fff;
    margin:35px 0 10px;
    height:52px;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    color:#fff;
    cursor: pointer;
}
.subbtn{
    position: relative;
        }
.subbtn::after{
    content: '\27a4';
    color:#333;
    line-height: 32px;
    font-size: 17px;
    height:32px;
    width:32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right:-1px;
    top:-1px;        
}
span{
    font-size: 13px;
    margin-left: 10px;
}
.subbtn{
    background-color: rgb(29, 45, 88);
    color:lightyellow;
    padding: 12px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.subbtn:hover{
    background-color: rgb(23, 148, 50);
}
a:link{
    color: yellow;
    background-color: transparent;
}
a:visited{
    color:whitesmoke;
    background-color: transparent;
}
a:hover{
    color:rgb(219, 96, 162);
    background-color: transparent;
}
a:active{
    color: rgb(73, 155, 57);
    background-color: transparent;
}
.inputbox{
    font-family: fontawesome;
    
}
.social{
    display:flex;
    
}


@media screen and (max-width: 960px){
    .container{
        padding: 5px;
        width:100%;
        height:100%;
        position:absolute;
        right:0;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}