@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin:0;
    padding: 0;
    font-family:'Roboto Slab',serif;
  
    }
    #hero{
        width:100%;
        height:100vh;
        background-image: url('./p2.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        /* background: url(pic1.jpg) no-repeat 100vh; */
        background-position: center;
        position: relative;

     
    }
    .container{
        width:100%;
        height:100vh;
        /* background:rgba(86,86,86,0.3); */
        /* backdrop-filter: blur(3px); */
        position:absolute;
        padding:100px;
        /* left:50px; */
        right:0;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .card{
        width:400px;
        height:500px;
        margin:auto;
        box-shadow:0 0 50px 30px rgba(23, 2, 61, 0.315);
        /* padding:10px; */
        /* backdrop-filter: blur(20px); */
        
    }
    .box{
        position:relative;
        width: 100%;
        height:100%;
        
    }
    .card1{
        position:absolute;
        width: 100%;
        height:100%;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(250, 192, 192, 0.904),rgba(125, 125, 128, 0.849));
        /* margin-top: 10px; */
        padding:55px;
        box-sizing: border-box;
        backface-visibility: hidden;
    }
    .card1 img{
        width:100px;
        height:100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card h2{
        font-weight:bolder;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    .inputBox{
        width: 100%;
        background:transparent;
        border:1px solid #fff;
        margin:6px 0;
        height:32px;
        border-radius: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        outline: none;
        text-align: center;
        color:#fff;
        }
        ::placeholder{
            color:#fff;
            font-size: 20px;
        }
        .button{
            width:100%;
            background: transparent;
            border:1px solid #fff;
            margin:35px 0 10px;
            height:32px;
            font-size: 12px;
            border-radius: 20px;
            padding: 0 10px;
            box-sizing: border-box;
            outline: none;
            color:#fff;
            cursor: pointer;
        }
        .subBtn{
            position: relative;
                }
        .subBtn::after{
            content: '\27a4';
            color:#333;
            line-height: 32px;
            font-size: 17px;
            height:32px;
            width:32px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            right:-1px;
            top:-1px;        
        }
        span{
            font-size: 13px;
            margin-left: 10px;
        }
        .subBtn{
            background-color:  rgb(18, 8, 107);
            color:lightyellow;
            padding: 12px 20px;
            border:none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            
        }
        .subBtn:hover{
            background-color: rgba(13, 123, 226, 0.952);
        }
        a:link{
            color: yellow;
            background-color: transparent;
        }
        a:visited{
            color:whitesmoke;
            background-color: transparent;
        }
        a:hover{
            color:rgb(219, 96, 162);
            background-color: transparent;
        }
        a:active{
            color: rgb(73, 155, 57);
            background-color: transparent;
        }
        .inputBox{
            font-family: fontawesome;
            
        }