.front-container{
    background: url('image1.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contains;
}

.front-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.front-container > p {
    margin-top : 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.front-btns .btn{
    margin: 6px;
}
