*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Poppins;
}


.hero{
    display:flex;
    height:100vh;
    width:100%;
    background-size:cover;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-image: url(register.jpg);
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height:100vh;
    width:50%;
    align-items: center;
    background:#fff;
    padding:25px 30px;
    border-radius:5px;
    box-shadow:0 0 50px 30px rgba(68, 152, 230, 0.787);
    /* border:1px solid black; */
    background-image: linear-gradient(rgba(99, 160, 184, 0.479),rgba(92, 102, 243, 0.397));
    backface-visibility:hidden;
    background:transparent;
    backdrop-filter: blur(15px);
    box-sizing: border-box;
}
.container .title{
    font-size:25px;
    font-weight: 500;
    position:relative;
    text-align: center;
    color:#fff;
    }

.container .title::before{
    content:'';
    position:absolute;
    /* left:0; */
    bottom:0;
    height:3px;
    width:30px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    text-align:center ;
}
.container form .user-details{
    background-color:rgb(19, 117, 182);
    height: fit-content;
    width: fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0 12px 0;
    box-sizing: border-box;
    min-height: 300px;
    /* color:#71b7e6; */

}
form .user-details  .input-box{
    background-color: yellow;
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    /* color:aqua; */
}
.user-details .input-box .details{
    background-color: #671c85;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color:#fff;
}
.user-details .input-box input{
    background-color: red;
    height:45px;
    width:100%;
    outline:none;
    border-radius: 15px;
    border:1px solid rgb(19, 117, 182);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    /* background-image: linear-gradient(rgba(148, 216, 248, 0.452),rgba(0, 0, 100, 0.548));; */
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:orange;
    /* color:aqua; */
}
form .gender-details .gender-title{
    font-size:20px;
    font-weight: 500;
}

form .button{
    height:45px;
    margin:45px 0;
}
form .button input{

    height:100%;
    width:100%;
    outline:none;
    color:#fff;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#3494d4ef,#ba5ddf);
    

}
form .button input:hover{
    background:linear-gradient(-135deg,#204964,#671c85);
    cursor: pointer;
}
@media(max-width: 584px){
    .container{
        max-width:100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width:100%;
    }
    .container form .user-details{
        max-height:300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width:0;

    }
    form .submit-btn{
        width:100%;
    }


}
.gender-details{
    background-color: #fff;
    border: 1px solid rgb(19, 117, 182);
    padding:10px 10px;
    border-style:solid;
    border-radius: 10px;
    /* letter-spacing: 1px; */
    justify-content:space-between;

}
.submit-btn{
    width:30%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:linear-gradient(135deg,#347ad4ef,#ba5ddf);
    border:0;
    outline:none;
    border-radius: 30px;
    color:#fff;
    text-align: center;
    
}
h4{
    text-align: center;
}
.icon{
    font-family: fontawesome;
    
}