.headings
{
    color:red;
}
.information{

    display:flex;
    justify-content: center;

}

.heading2
{
    display:flex;
    justify-content: center; 
    
}

.topic
{
    display:inline-block;
    justify-content: center;
    
}
#content{
    display:flex;
    justify-content: center;
    
}
.child-info
{
    height:fit-content;
    width:70%;
}
#info-heading
{
    display:flex;
    justify-content: center;
}
#info-heading2
{
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    text-align: left;
}
#information1
{

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.input-group
{
  display: flex;
  justify-content: center;

}