.headings
{
    color:red;
}
.information{

    display:flex;
    justify-content: center;

}
#information1 h5{
    text-align: center;
    color:red;
    /* margin-top: 5px; */
}

.heading2
{
    display:flex;
    justify-content: center; 
    
}

.topic
{
    display:inline-block;
    justify-content: center;
    
}
#content{
    display:flex;
    justify-content: center;
    
}
.child-info
{
    height:fit-content;
    width:70%;
}
#info-heading
{
    display:flex;
    justify-content: center;
}
#info-heading2
{
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    text-align: left;
}
#information1
{

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.input-group
{
  display: flex;
  justify-content: center;

}
.front .image img{
    width:130px;
    height: 150px;
    margin:5px auto;
}
.back .image img{
    width:100p;
    height: 100px;
    margin:5px auto;
}
.con{
    perspective: 1000px;
  
}
.card{
    position:relative;
    transition:transform 1s;
    border:none;
    transform-style:preserve-3d;
}
.con:hover .card{
    transform:rotateY(180deg);
}
.front, .back{
    text-align: center;
    backface-visibility: hidden;

}
.back{
    position: absolute;
    height:200px;
    /* margin-top: 0; */
    overflow: scroll;
    /* overflow: hidden; */
    scroll-behavior:auto;
    transform: rotateY(180deg);
}
.back::-webkit-scrollbar {
    display: none;
}
.front{
    /* display: flex; */
   
    text-align: center;
}
.back p{
    text-align: center;
    display: block;

    /* margin:1rem; */
    /* font-size: 1.4rem; */
    /* line-height: 1.5rem; */
}
