*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.MainForm{
    margin:auto;
   
    font-size: 18px;
    border-radius: 10px;
    width:400px;
    height:300px;
}
h2{
    text-align: center;
}
.BookingSlot
{
    margin-top: 100px;
    margin:auto;
    justify-content: center;
}
.main{
    width:100wh;
    height:100vh;
    margin:100px auto 0 auto;
    background: url('./BookImage.jpg');
    background-size:100%;
   
    background-repeat: no-repeat;
}
